.venv/
venv/
__pycache__/
*.py[cod]
.env
.idea/
.vscode/
.ipynb_checkpoints/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
reports/*
!reports/.gitkeep
!reports/.gitkeep
*.png
.DS_Store
